@model ProductFormModel
@{
    ViewData["Title"] = "Add Product";
}
@*<h2>ADD DOES NOT WORK!</h2>*@

<h1 class="text-center "> Add field for archive /isActive prop/ </h1>
<partial name="_ProductFormPartial" model="@Model" />


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

