@{
    ViewData["Title"] = "More Information";
}
<div>
    <div class="row">
        <div class="card" style="width: 40rem;">
            <div class="card-body">
                <img class="card-img-top" src="/img/fithness.jfif" alt="">
            </div>
        </div>
        <div class="card" style="width: 40rem;  background-color:lightgray">
            <h3 class="text-center">Land Traning</h3>
            <div class="font_9 color_11" style="text-align:left; font-size:22px;">
                &nbsp;
                <div style="font-size:14px;">
                    <p class="font_8" style="font-size:18px;">

                    <p style="font-size:16px;">
                        Land training is an extremely important part of training: swimming doesn’t
                        build enough muscles and strength because it is non-weight bearing. Our land
                        training coach Graham Thomas plan sessions which are ‘swimming specific’: work
                        which complements swimming.
                    </p>
                    <br />
                    <p style="font-size:16px;">
                        What do you do in land training:
                        <ul>
                            <li>Circuit training and core stability work</li>
                            <li>Flexibility and pre-competition warm-up exercises</li>
                            <li>Plyometrics (jumping & bounding, skipping & hopping): this will help with starts and turns in the pool</li>
                            <li>Light ‘free weights’ for strength. </li>
                            <li>DynaBand & Bungee work. Medicine balls</li>
                            <li>Relaxation</li>
                        </ul>
                    </p>
                    <p style="font-size:16px;">
                        Appropriate attire:
                        <ul>
                            <li>Wear clothes that give a full range of motion</li>
                            <li>T-shirts, track suit bottoms, shorts or leggins</li>
                            <li>Sensible trainers (NOT fashion trainers) should be worn</li>
                            <li>Also, wear appropriate colours: consider that light colours reflect heat and dark colours absorb heat.</li>
                            <li>Water bottle/s</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="card" style="width: 80rem; background-color:lightgray">
            <h3 class="text-center">Standarts for Begginers</h3>

            <div class="font_9 color_11" style="font-size:14px;">
                <h5>Begginer 1</h5>
                <ul>
                    <li>Aged 6 - 10</li>
                    <li>Need to attend 2 Club session a week </li>
                    <li>Correct strokes for Frontcrawl & Backstroke, and entry level Breaststroke for 25m</li>
                    <li>Basic understanding of Butterfly</li>
                    <li>Average session distance 500m</li>
                </ul>
                <h5>Begginer 2</h5>
                <ul>
                    <li>Aged 10 - 14</li>
                    <li>Need to attend 3 Club session a week </li>
                    <li>Correct Frontcrawl, Backstroke & Breaststroke and entry level Fly 25m</li>
                    <li>Entry level Frontcrawl and Backstroke Tumble Turn</li>
                    <li>Average distance covered 800m</li>
                </ul>
                <h5>Begginer 3</h5>
                <ul>
                    <li>Aged 14 - 18</li>
                    <li>Need to attend 3 Club session a week </li>
                    <li>To competently swim 200m Frontcrawl & Backstroke, 100m Breaststroke, 50m Fly,  and 100m Individual Medley</li>
                    <li>Able to execute legal starts and turns</li>
                    <li>Can use a pace clock to calculate times for all swims</li>
                    <li>Average session distance 1500m in 60 min session</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br />

<div class="row">
    <div class="card" style="width: 80rem;">
        <h3 class="text-center">Sample Training Sessions for Begginers</h3>
        <br />
        <div class="container">
            <div class="row">
                <div class="col-sm font_9 color_11" style="text-align:left; font-size:14px;">
                    <h5>Begginer 1</h5>
                    <ul>
                        <li>Tuesday 16:00 - 17:00</li>
                        <li>Thursday 16:00 - 17:00</li>
                    </ul>
                    <h5>Begginer 2</h5>
                    <ul>
                        <li>Monday 16:00 - 17:00</li>
                        <li>Wednesday 16:00 - 17:00</li>
                        <li>Friday 16:00 - 17:00</li>
                    </ul>
                    <h5>Begginer 3</h5>
                    <ul>
                        <li>Monday 17:00 - 18:00</li>
                        <li>Wednesday 17:00 - 18:00</li>
                        <li>Friday 17:00 - 18:00</li>
                    </ul>
                </div>
                <div class="col-sm font_9 color_11" style="text-align:left; font-size:14px;">
                    <h5>Professional 1</h5>
                    <ul>
                        <li>Tuesday 15:00 - 16:00</li>
                        <li>Thursday 15:00 - 16:00</li>
                        <li>Saturday 16:00 - 17:00</li>
                        <li>Sunday 16:00 - 17:00</li>
                    </ul>
                    <h5>Professional 2</h5>
                    <ul>
                        <li>Tuesday 17:00 - 18:00</li>
                        <li>Thursday 17:00 - 18:00</li>
                        <li>Saturday 17:00 - 18:00</li>
                        <li>Sunday 17:00 - 18:00</li>
                    </ul>
                    <h5>Professional 3</h5>
                    <ul>
                        <li>Monday 15:00 - 16:00</li>
                        <li>Wednesday 15:00 - 16:00</li>
                        <li>Friday 15:00 - 16:00</li>
                        <li>Sunday 15:00 - 16:00</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="font_9 color_11 text-center" ; font-size:14px;">
            <p>If you are registered user you can see the Official Schedule here:</p>
            <a asp-controller="Home" asp-action="Schedule" class="btn btn-dark" asp-area="">Schedule</a>
        </div>
        <br />
    </div>
</div>

<br />
<div class="row">
    <div class="card" style="width: 80rem; background-color:lightgray">
        <h3 class="text-center">Standarts for Professionals</h3>

        <div class="font_9 color_11" style="font-size:14px;">
            <h5>Professionals 1</h5>
            <ul>
                <li>Aged 9-12</li>
                <li>Need to attend 4 Club session a week </li>
                <li>Achieving County Times</li>
                <li>Have efficient and controlled strokes</li>
            </ul>
            <h5>Professionals 2</h5>
            <ul>
                <li>Aged 11 - 14</li>
                <li>Need to attend 4 Club session a week </li>
                <li>Achieving County Times & targeting Regional Qualification</li>
                <li>Maintaining full range of PBs</li>
            </ul>
            <h5>Professionals 3</h5>
            <ul>
                <li>Aged 12 - 18</li>
                <li>Need to attend 4 Club session a week </li>
                <li>Achieving County Times & Regional Times</li>
                <li>Maintaining full range of PBs throughout the season and working towards National Champs</li>
            </ul>
            <br />
        </div>
    </div>
</div>

