@model SponsorFormModel
@{
    ViewData["Title"] = "Add Sponsor";
}

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <h1 class="heading-margin text-center">Add Sponsor</h1>
        <form method="post">
            <div class="mb-3 form-group ">
                <label asp-for="Name">Sponsor Name</label>
                <input asp-for="Name" class="form-control" placeholder="Sponsor Name">
                <span asp-validation-for="Name" class="small text-danger"></span>
            </div>

            <div class="mb-3 mt-3 form-group ">
                <label asp-for="Logo">Logo</label>
                <input asp-for="Logo" class="form-control" placeholder="Sponsor Logo">
                <span asp-validation-for="Logo" class="small text-danger"></span>
            </div>
            <div class="mb-3 form-group">
                <label asp-for="Link">Home Page Link</label>
                <input asp-for="Link" class="form-control" placeholder="Home Page Link">
                <span asp-validation-for="Link" class="small text-danger"></span>
            </div>
            <input class="btn btn-dark" type="submit" value="Save" />
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}