@model IEnumerable<CoachListingViewModel>

    @{
    ViewData["Title"] = "Coaches";
}

<div class="row">

    @foreach (var coach in Model)
    {
        <div class="row">

            <div class="card" style="width: 16rem;">
                <div class="card-body">
                    <h5 class="card-title">@coach.FullName</h5>
                    <p class="card-text">@coach.JobPosition</p>
                    <p class="card-text">Squad: @coach.Squad</p>
                    <br>
                    <a class="btn btn-dark" href="mailto:@coach.Email" target="_self">Contact Now</a>
                </div>
            </div>
            <div class="card" style="width: 16rem;">
                <div class="card-body">
                    <img class="card-img-top" src="@coach.Image" alt="">
                </div>
            </div>
        </div>
    }
        <br />
</div>

