@model IEnumerable<SponsorDetailsServiceModel>

<hr class="hr-2 bg-dark mt-4"/>
<table class="table">
    <thead>
        <tr>
            @foreach (var sponsor in Model)
            {
                <th scope="col">
                    <a target="_blank" href="@sponsor.Link">
                        <img class="card-img-top" src="@sponsor.Logo" alt="">
                    </a>
                    @if (this.User.IsInRole("Administrator"))
                    {
                        <div class="mt-3">
                            <a asp-area="" asp-controller="About" asp-action="EditSponsor" asp-route-id="@sponsor.Id" class="btn btn-sm btn-outline-dark">Edit</a>
                            <a asp-area="" asp-controller="About" asp-action="DeleteSponsor" asp-route-id="@sponsor.Id" class="btn btn-sm btn-outline-dark">Delete</a>
                        </div>
                    }
                </th>
            }
        </tr>
    </thead>
</table>
<hr class="hr-2 bg-dark mt-4"/>

