@model IEnumerable<SponsorViewModel>

    <h1 class="text-center">FIX THE LAYOUT!! FILL THEM IN TABLE!</h1>
<div class="row">
    <div class="container">
        @foreach (var sponsor in Model)
        {
            <div class="row">

                <div class="card" style="width: 16rem;">
                    <a href="@sponsor.HomePageLink">
                        <img class="card-img-top" src="@sponsor.Logo" alt="">
                    </a>
                </div>
            </div>
            <br />
        }
    </div>
</div>

