@{
    ViewData["Title"] = "Fundrising";
}

<div class="jumbotron jumbotron-fluid">
    <h1 class="display-4 text-center">@ViewData["Title"]</h1>
    <div class="container col-sm-12 offset-lg-1 col-lg-10 offset-xl-2 col-xl-8" style="background-color:lightgray">
@*        <h2> FIX THIS STORY!!!</h2>*@
        <p class="lead">
            Would you be willing to make an ad-hoc donation towards a particular piece of equipment,
            or sponsor an event?
        </p>
        <p class="lead">
            For more information on sponsorship opportunities, please contact John Doe.
        </p>
        <p>
            <a class="btn btn-dark" href="mailto:john.doe@mail.com" target="_self">Contact Now</a>
        </p>
        <hr class="my-4">
        <p class="lead">
            We also have Club Championships trophies that occasionally need replacing. To help with the cost, there may
            be an opportunity to sponsor a trophy with a name of your choosing.
        </p>
        <p class="lead">
            For more information please contact our Head Coach Maria Smith.
        <p>
            <a class="btn btn-dark" href="mailto:maria.smith@mail.com" target="_self">Contact Now</a>
        </p>
        <br />
    </div>
</div>
