@{
    ViewData["Title"] = "Club History";
}
<div class="jumbotron jumbotron-fluid">
    <h1 class="display-4 text-center">@ViewData["Title"]</h1>
    <div class="container col-sm-12 offset-lg-1 col-lg-10 offset-xl-2 col-xl-8" style="background-color:lightgray">
        @*  <h2> FIX THIS STORY!!!</h2>*@
        <p class="lead">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a ex nibh. Sed sodales nec augue id luctus. Nam aliquet felis eu lorem tempor, et molestie ipsum mattis. Vivamus fringilla enim risus. Curabitur luctus massa elit, quis sodales arcu vehicula eu. Donec tempus turpis ac mauris mattis, ut suscipit augue suscipit. Aenean a tortor vitae ex pellentesque eleifend. Nam suscipit sed ante in convallis. Cras ut molestie quam, non ullamcorper enim. Integer leo neque, auctor vitae eros in, tempor interdum nulla. Integer pulvinar a tellus et placerat. Pellentesque placerat ultrices purus sed pulvinar. Integer ornare nibh elit, vel hendrerit turpis consequat id. Mauris ac sagittis leo.
        </p>
        <p class="lead">
            Fusce egestas nunc ac mauris scelerisque, id convallis odio placerat. Praesent porta, turpis non pellentesque malesuada, ante odio scelerisque felis, sit amet auctor arcu metus sit amet risus. Nullam est arcu, ornare non orci ut, hendrerit faucibus sapien. Pellentesque aliquet felis non erat aliquam, ut facilisis urna accumsan. In vel aliquet nunc. In quam tellus, aliquam sit amet lectus vel, auctor dictum purus. In non magna et felis imperdiet malesuada. Sed vulputate, magna sed pretium tincidunt, est ex varius odio, eleifend varius ligula mi eget odio. Integer faucibus quis leo vitae tristique. Nullam in aliquet quam. Donec quis nulla cursus, semper elit eget, pellentesque quam. Aliquam maximus, ipsum ut blandit placerat, massa massa malesuada lectus, nec interdum dolor velit ac nisi. Phasellus gravida, diam vel sodales auctor, metus ex tristique mauris, sed laoreet dui arcu ac tortor.
        </p>
        <p class="lead">
            Sed lacinia rutrum nisi non tincidunt. Nulla ut condimentum lacus. Proin at bibendum tortor, a consectetur lectus. Curabitur commodo ligula dolor, a aliquet dui eleifend eget. In venenatis lacus nec urna accumsan fringilla. Phasellus sollicitudin eget metus eget molestie. Mauris gravida velit ex, vel pretium justo venenatis eget. Ut enim tellus, luctus a nulla pharetra, bibendum luctus ipsum. Mauris lacinia sollicitudin varius. Maecenas vitae dui eleifend, vehicula sapien a, ornare diam. Nullam sollicitudin orci id augue faucibus euismod. Nulla at efficitur sapien, at placerat ex. Vestibulum neque enim, maximus et justo a, rutrum egestas nisi. Duis varius nibh neque, malesuada eleifend risus cursus sit amet.
        </p>
    </div>
</div>
