@{
    ViewData["Title"] = "Club History";
}
<h1 class="heading-margin text-center">@ViewData["Title"]</h1>
<div class="text-center">
    <p class="offset-md-2 col-md-8 col-sm-12" style="text-align:center">
        FIX THIS STORY!!!
        In the years up to 1965, the only indoor facilities for swimming were at the Command Baths, the military pool in Aldershot. 
        In the summer, children from schools in the Fleet area went to the open-air pool at Fleet Country Club for lessons.  
        This, however, was only for the hardy souls and, of these, most were capable of only a few strokes by 
        the end of the summer term – not sufficient to ensure their safety in water. Leslie and Hilary Wigg realised that there 
        was a need for a local indoor pool for serious swimming and that its running costs could be met by charging for lessons.
        In 1966, with the help of Eric and Mary Cleeves and other volunteers, they designed and built a 25 x 8 yard heated pool 
        with depth of 2′3″ to 4′6″ housed in a basic wooden building.  In 1967, the Fleet Swimming School (affectionately known 
        as ‘Wiggs’ Pool’) opened and was an immediate success.
        The pool remained open for 17 years and during that time many thousands of children and adults learnt to swim.  
        Life Saving and Water Safety classes were also held and in 1968 the Fleet Swimming Club, later to become the 
        Hart Swimming Club, was inaugurated. Inter club galas were held and many swimmers reached a high standard.
        In 1984, the building and services were in serious need of refurbishment and the decision was taken to close.  
        It was apparent that the Hart District needed a larger pool, suitable for public recreation and after an 11-year
        campaign by the Hart Swimming Association (A Pool for Hart!), in 1991 the public pool at the Hart Leisure Centre opened.
        On 30 March 2017, Hart Swimming Club held their last ‘Club Night’ at the pool they have called ‘home’ for almost 26 years.
        On Sunday 2 April 2017, the club held its first training sessions in the brand new £23m Hart Leisure Centre and on Saturday 
        14 October 2017 hosted their first home National Arena League gala for almost 15 years.
    </p>
</div>