@model NewsDetailsServiceModel

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <h1 class="heading-margin text-center">@ViewBag.Title</h1>
        <form method="post">
            <div class="mb-3 form-group ">
                <label asp-for="Title">News Title</label>
                <input asp-for="Title" class="form-control" placeholder="News Title">
                 <span asp-validation-for="Title" class="small text-danger"></span>
            </div>
            <div class="mb-3 mt-3 form-group ">
                <label asp-for="Image">News Photo</label>
                <input asp-for="Image" class="form-control" placeholder="Photo link">
                  <span asp-validation-for="Image" class="small text-danger"></span>
            </div>
             <div class="mb-3 form-group">
                <label asp-for="Desctioption">Article</label>
                <textarea asp-for="Desctioption" class="form-control"  rows="10" placeholder="Fill your article here"></textarea>
                  <span asp-validation-for="Desctioption" class="small text-danger"></span>
            </div>
            
            <input class="btn btn-dark" type="submit" value="Save" />
        </form>
    </div>
</div>