<div class="jumbotron">
  <h1 class="display-4">Thank you for your application!</h1>
  <p class="lead">Based on the information provided, we will find the right class for you or your child and the coach of the appropriate team will get in touch with you via email.</p>
  <p class="lead"></p>
  <hr class="my-4">
  <p>For the Begginer section, please note, there will be an initial trial period.</p>
  <p></p>
  <p class="lead">
    <a asp-controller="Home" asp-action="Index" class="btn btn-dark" asp-area="">Home Page</a>
  </p>
</div>